In [1]:
# importing the modules PAndas and Numpy
import numpy as np
import pandas as pd

In [2]:
d0 = pd.read_csv('grab/d0.csv')
d1 = pd.read_csv('grab/d1.csv')
d2 = pd.read_csv('grab/d2.csv')
d3 = pd.read_csv('grab/d3.csv')
d4 = pd.read_csv('grab/d4.csv')
d5 = pd.read_csv('grab/d5.csv')
d6 = pd.read_csv('grab/d6.csv')
d7 = pd.read_csv('grab/d7.csv')
d8 = pd.read_csv('grab/d8.csv')
d9 = pd.read_csv('grab/d9.csv')
label = pd.read_csv('grab/label.csv')

In [7]:
frames = [d0,d1,d2,d3,d4,d5,d6,d7,d8,d9]

In [8]:
result = pd.concat(frames)

In [9]:
result.head()

,bookingID,Accuracy,Bearing,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,second,Speed
0,1202590843006,3.000,353.0,1.228867,8.900100,3.986968,0.008221,0.002269,-0.009966,1362.0,0.000000
1,274877907034,9.293,17.0,0.032775,8.659933,4.737300,0.024629,0.004028,-0.010858,257.0,0.190000
2,884763263056,3.000,189.0,1.139675,9.545974,1.951334,-0.006899,-0.015080,0.001122,973.0,0.667059
3,1073741824054,3.900,126.0,3.871543,10.386364,-0.136474,0.001344,-0.339601,-0.017956,902.0,7.913285
4,1056561954943,3.900,50.0,-0.112882,10.550960,-1.560110,0.130568,-0.061697,0.161530,820.0,20.419409

In [10]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16135561 entries, 0 to 1613561
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   bookingID       int64
 1   Accuracy        float64
 2   Bearing         float64
 3   acceleration_x  float64
 4   acceleration_y  float64
 5   acceleration_z  float64
 6   gyro_x          float64
 7   gyro_y          float64
 8   gyro_z          float64
 9   second          float64
 10  Speed           float64
dtypes: float64(10), int64(1)
memory usage: 1.4 GB

In [11]:
result.to_csv('grab/final_data.csv', index=False)